<div class="row">
    <div class="col s12">
        <%=    form_with(model: usuario, url: usuario_path(usuario),:html => {:id => 'form_usuario' }, local: true) do |form| %>
                <% if usuario.errors.any? %>
                    <div id="error_explanation">
                        <h6><%= pluralize(usuario.errors.count, "error") %> No ha sido realizado el Registro de esta persona:</h6>

                        <ul>
                            <% usuario.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="row">
                    <div class="input-field col s4">
                        <%= form.label :nombre %>
                        <%= form.text_field :nombre %>
                    </div>

                    <div class="input-field col s4">
                        <%= form.label :correo %>
                        <%= form.text_field :correo %>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <%= form.label :password  %>
                        <%= form.text_field :password %>
                    </div>


                    <div class="input-field col s4">
                        <%= form.label :password_confirmation, 'Confirmacion' %>
                        <%= form.text_field :password_confirmation%>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <%= form.check_box :estatus, id: "usuario_estatus", class: "filled-in" %>
                        <span>Estatus</span>
                        <!--  form.label :estatus, for: 'estatus' -->
                    </div>
                </div>
                <div class="actions">
                    <button class="btn waves-effect waves-light" type="submit" >Registrar
                        <i class="material-icons right">send</i>
                    </button>
                </div> 
<script>
var input = document.querySelector('form');
  var url =  String(input.action);
  if (url.match(/\./g)) {
      var nueva_url = url.replace(/http:\/\/localhost:3000/g,"");
      input.action= nueva_url.replace(/\./g,"/");
  }
</script>
            <% end %>
    </div>
</div>
