<p id="notice"><%= notice %></p>

<p>
  <strong>Persona:</strong>
  <%= @usuario.persona %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @usuario.password_digest %>
</p>

<p>
  <strong>Fecha registro:</strong>
  <%= @usuario.fecha_registro %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @usuario.estatus %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
